/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100,300;0,500;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,500;0,700;0,800;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
/*CSS for Navbar ======================*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;0,700;1,400;1,600&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

[aria-expanded="true"] .navbar-toggler-icon-open {
  display: none;
}

[aria-expanded="false"] .navbar-toggler-icon-close {
  display: none;
}

.accordion-buttonCustom {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.customBackground1 {
  background-color: #de1d50;
}
.customBackground2 {
  background-color: #2ca8d5;
}
.customBackground3 {
  background-color: #c8632c;
}
.customBackground4 {
  background-color: #309744;
}
.customBackground5 {
  background-color: #3a23ab;
}

.bigLinks {
  font-family: 'Crimson Text', serif;
  font-size: 1.6rem;
  font-weight: 800;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem !important;
  font-weight: 300 !important;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
}

.UNFnavbar {
  background-color: #0a233f !important;
  color: #ffffff;
  padding: 0rem !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}

.UNFnavbar2 {
  color: #0a233f !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}

.nav-link {
  color: #ffffff !important;
}

.active {
  text-decoration: underline !important;
  color: #0a58ca !important;
}

.nav-link2 {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  background: none;
  border: 0;
  padding: .9rem;
}
.nav-link2:hover,
.nav-link2:focus {
  color: rgb(87, 86, 86);
  text-decoration: underline;
}
.nav-link2:focus-visible {
  outline: 0;
}
.nav-link2.disabled {
  color: 0;
  pointer-events: none;
  cursor: default;
}

.nav-link3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
  background: none;
  border: 0;
}
.nav-link3:hover,
.nav-link3:focus {
  color: rgb(87, 86, 86);
  text-decoration: underline;
}
.nav-link3:focus-visible {
  outline: 0;
}
.nav-link3.disabled {
  color: 0;
  pointer-events: none;
  cursor: default;
}

.big-link {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  background: none;
  border: 0;
  padding: .9rem;
}
.big-link:hover,
.nbig-link:focus {
  text-decoration: underline;
}
.big-link:focus-visible {
  outline: 0;
}

.nav-linkAcor {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  background: none;
  border: 0;
}
.nav-linkAcor:hover,
.nav-linkAcor:focus {
  color: #0a58ca;
  text-decoration: underline;
}
.nav-linkAcor:focus-visible {
  outline: 0;
}
.nav-linkAcor.disabled {
  color: 0;
  pointer-events: none;
  cursor: default;
}


.nav-link2.disabled {
  color: 0;
  pointer-events: none;
  cursor: default;
}

.sectionText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
  background: none;
  border: 0;
}

.UNFsearch {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  border-radius: 10px 0 0 10px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.UNFsearchButton {
  border-radius: 0 10px 10px 0 !important;
  color: #ffffff;
}

.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.navbar-toggler {
  color: #ffffff;
  border-color: #284b74;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  border: none;
}

.nav-link-groups {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nav-link-groups {
  color: #e2e2e2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.nav-link-groups {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear !important;
}

.nav-link-groups:hover {
  color: #ffffff;
}

.nav-link-groups.active {
  color: #ffffff;
}

.nav-link-groups:focus {
  color: #ffffff;
}

.nav-link {
  color: #e2e2e2;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.dropdown-toggle::after {
  -webkit-transition: -webkit-transform 0.15s linear !important;
  transition: -webkit-transform 0.15s linear !important;
  transition: transform 0.15s linear !important;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear !important;
}

.show.dropdown .dropdown-toggle::after {
  -webkit-transform: translateY(3px) !important;
  transform: translateY(3px) !important;
}
